
@import "compass/css3";

body{
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(213,158,200,1) 0%, rgba(255,209,124,1) 100%);

}

a{
    text-decoration: none;
    color:white;
}

.menu
{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  position:fixed;
  top:50vh;
  margin-top:-200px;
  left:50vw;
  margin-left:-200px;
  width:400px;
  height:400px;
  border-radius:200px;
}
.sq
{
  position:absolute;
  z-index:1;
  width:200px;
  height:200px;
  background-color:#424242;
  
  text-align:center;
  line-height:200px;
  color:white;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 10px;
  letter-spacing: 7px;
  
  
  cursor:pointer;
  transition:all 0.25s;
  -webkit-transition:all 0.25s;

}

.sqContainer
{
  transform-origin:200px 200px;
  transform:scale(0);
  -webkit-transform:scale(0);
 
  transition:all 0.25s;
  -webkit-transition:all 0.25s;
}

#sq1
{
  top:0;
  left:0;
  border-radius:200px 0 0 0;
}

#sq2
{
  top:0px;
  left:200px;
  border-radius:0 200px 0 0;
}
#sq3
{
  top:200px;
  left:200px;
  border-radius:0 0 200px 0;
}

#sq4
{
  top:200px;
  left:0px;
  border-radius:0 0 0 200px;
}
.main
{
  position:absolute;
  top:100px;
  left:100px;
  z-index:3;
  
  background-color:#151515;
  color:white;
  text-align:center;
  width:200px;
  height:200px;
  
  border-radius:100px;
  transition:all 0.5s;
  -webkit-transition:all 0.5s; 
  letter-spacing: 7px;
font-size: 10px;
text-transform: uppercase;
}
.button.main:hover
{
  letter-spacing: 12px;
  background-color:#f4b5d2;
  
}

.main:hover~ .sqContainer,.sqContainer:hover
{

  transform:scale(1);
  -webkit-transform:scale(1);
}
.sq:hover{z-index:2;
    box-shadow:1px 1px 6px black;
    letter-spacing: 11px;
    
    
}

.topIcon{

    color: black;
    padding : .5em;

}

.hoverPink a.topIcon:hover{
   color: #f4b5d2;

}
/* -------------PROJECTS.HTML CSS--------- */
.pageTitle
{
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   text-align: center;
   text-transform: uppercase;
   font-style: 'Lato', sans-serif;
   letter-spacing: 7px;
   font-size: 30px;
   color:white;
   padding-top: .7em; 

}


.bodyCenter
{
  padding:0;margin:0;
  text-align:center;

}

.circle
{
    height: 150px;
    width: 150px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color:white;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    letter-spacing: 5px;

}

.bottom
{
  position: fixed;
  bottom: 0;
  padding-left: 73em;
  padding-bottom: 1em;
}
.bottom_art
{
  position: fixed;
  bottom: 0;
  padding-left: 67em;
  padding-bottom: 1em;

}

.bottom a.topIcon:hover{
  color:#f4b5d2;
}

.circle:hover
{
  background-color: #f4b5d2;
 
}
/*--------------aboutProject.HTML CSS----------*/
.project_title
{

   text-align: center;
   font-family: 'Lato', Arial, Helvetica, sans-serif;
   text-transform: uppercase;
   font-style: 'Lato', sans-serif;
   letter-spacing: 7px;
   font-size: 25px;
   color: black;
   border: 2px solid white;
   display:inline;
   padding: 1em;
   border-radius: 1em;
   /*background-color: white;*/
   font-weight: normal;

}
.section_title
{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-align: center;
   text-transform: uppercase;
   font-style: 'Lato', sans-serif;
   letter-spacing: 5px;
   font-size: 18px;
   color: white;
   border: 15px solid #f4b5d2;
   display:inline;
   border-radius: 1em;
   background-color: #f4b5d2;

}
.content
{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
   padding-right: 16em;
   padding-left: 16em;
   text-align: left;
   text-transform: bold;
   font-size: 15px;
   color:white;

}
.content_tech
{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
   text-transform: bold;
   font-size: 15px;
   color:white;
}



.img_border
{
   border: 3px solid white;
   padding:12px;
   border-radius: 1em;
}



/* -------------aboutMyArt.HTML CSS--------- */

.image{
  width: 170px;
  height: 150px;
  border-radius: 50%; /*don't forget prefixes*/
  background-image: url("path/to/image");
  background-position: center center;

  /* as mentioned by Vad: */
  background-size: cover;
  padding:6px;
  border: 3px solid black;
}

.artPage
{
  padding:0;margin:0;
  text-align:center;
 

  
}
.artPageTitle
{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
   text-align: center;
   text-transform: uppercase;
   font-style: 'Lato', sans-serif;
   letter-spacing: 7px;
   font-size: 30px;
   color:black;
   padding-top: .5em; 

}
.circleArt
{
    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    font-size: 7px;
    text-align: center;
    color:white;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    
}
.circleArt:hover
{
  background-color: #f4b5d2;
}
/* -------------bio.HTML CSS--------- */
.image_bio
{
  width: 200px;
  height: 200px;
  border-radius: 120px;
  padding : 1em;
  border: 4px solid white;


}

.bio_title
{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  color:white;
}

.section_title:hover
{
  letter-spacing: 10px;
  
}
/*----------gallery-------------------@*/


.gallery {
  width: 900px;
  margin: 0 auto;
  padding: 5px;
  padding-top: 50px;
  border: 2.5px solid white;
  /*background: #f4b5d2;*/
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(213,158,200,1) 0%, rgba(255,209,124,1) 100%);
}

.gallery > div {
  position: relative;
  align-self: left|right|middle|top|bottom;
  float: left;

  padding: 5px;
}

.gallery > div > img {
  width: 280px;
  height: 280px;
  object-fit: contain;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(2.0,2.0);
  transition: .3s transform;
}

.cf:before, .cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}

.circle_art
{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    color:white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;

}





